* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    margin-bottom: 3rem;
    text-align: center;
}

input:focus {
    outline: none;
}

#root {
    background: linear-gradient(10deg, #ffffff -5%, #09795B 1%, #00d4ff);
    min-height: 100vh;
    width: 100%;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    color: white;
}

@keyframes updown {
    0% {
        transform: translateX(6px);
    }

    100% {
        transform: translateX(-6px);
    }
}

.cel,
.p {
    display: flex;
    justify-content: center;
}

.p {
    margin-top: 4rem;
    font-size: 1.4rem;
    color: white;
}

.c {
    margin-left: 0.2rem;
}